<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC
        "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.dian_hshang.dao.GoodsDao">

    <insert id="addGoods" parameterType="com.example.dian_hshang.model.po.Goods">
        insert into dian_goods (name,title,bandId,typeId,productdecs,price,imgPath,stocks,sortNum,createDate,updateDate,author,isDel) value (#{name},#{title},#{bandId},#{typeId},#{productdecs},#{price},#{imgPath},#{stocks},#{sortNum},#{createDate},#{updateDate},#{author},#{isDel})
   </insert>
    <update id="updateGoods" parameterType="com.example.dian_hshang.model.po.Goods">
        update dian_goods set name=#{name},title=#{title},bandId=#{bandId},typeId=#{typeId},productdecs=#{productdecs},price=#{price},imgPath=#{imgPath},stocks=#{stocks},sortNum=#{sortNum},updateDate=#{updateDate},author=#{author},isDel=#{isDel} where id=#{id}
    </update>

    <select id="queryDate" parameterType="com.example.dian_hshang.model.vo.StudentBy" resultType="java.lang.Integer">
       select count(*) from dian_goods
    </select>

    <select id="queryList" parameterType="com.example.dian_hshang.model.vo.StudentBy" resultType="com.example.dian_hshang.model.po.Goods">
        select * from dian_goods limit ${pageSize*(currpage-1)},#{pageSize}
    </select>

    <select id="queryById" parameterType="java.lang.Integer" resultType="com.example.dian_hshang.model.po.Goods">
        select * from dian_goods where id=#{id}
    </select>

</mapper>
