<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC
        "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.dian_hshang.dao.JveDao">

      <select id="queryJve" resultType="com.example.dian_hshang.model.po.Jve">
          select * from dian_jve
      </select>

      <insert id="addJve" parameterType="com.example.dian_hshang.model.po.Jve">
          insert into dian_jve (name,isDel,createDate,author) value (#{name},#{isDel},#{createDate},#{author})
      </insert>

      <update id="updateJve" parameterType="com.example.dian_hshang.model.po.Jve">
          update dian_jve set name=#{name} where id=#{id}
      </update>

       <select id="queryById" parameterType="java.lang.Integer" resultType="com.example.dian_hshang.model.po.Jve">
           select * from dian_jve where id=#{id}
       </select>

        <update id="deleteJve" parameterType="com.example.dian_hshang.model.po.Jve">
            update dian_jve set isDel=#{isDel} where id=#{id}
        </update>



</mapper>
