<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC
        "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.dian_hshang.dao.PropeityvalueDao">
     <select id="queryPropeityvalue" parameterType="java.util.List" resultType="com.example.dian_hshang.model.po.Propeityvalue">
         select * from dian_propeityvalue where attid=#{attid}
     </select>

    <insert id="addPropeityvalue" parameterType="com.example.dian_hshang.model.po.Propeityvalue">
        insert into dian_propeityvalue (name,nameCh,attid) value (#{name},#{nameCh},#{attid})
    </insert>

    <update id="updatePropeityvalue" parameterType="com.example.dian_hshang.model.po.Propeityvalue">
        update dian_propeityvalue set name=#{name},nameCh=#{nameCh},attid=#{attid} where id=#{id}
    </update>

    <delete id="deletePropeityvalue" parameterType="com.example.dian_hshang.model.po.Propeityvalue">
        delete from dian_propeityvalue where id=#{id}
    </delete>

    <select id="queryById" resultType="com.example.dian_hshang.model.po.Propeityvalue">
        select * from dian_propeityvalue where id=#{id}
    </select>
</mapper>
