<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC
        "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.dian_hshang.dao.PropeityDao">
       <select id="queryDate" parameterType="java.lang.Integer" resultType="com.example.dian_hshang.model.po.Propeity">
           select count(*) from dian_propeity
       </select>
       <select id="queryListBy" parameterType="com.example.dian_hshang.model.vo.StudentBy" resultType="com.example.dian_hshang.model.po.Propeity">
           select * from dian_propeity limit ${pageSize*(currpage-1)},#{pageSize}
       </select>
       <insert id="addpropeity" parameterType="com.example.dian_hshang.model.po.Propeity">
           insert into dian_propeity (name,nameCH,typeId,type,isSKU,isDel,createDate,updateDate,author) value (#{name},#{nameCH},#{typeId},#{type},#{isSKU},#{isDel},#{createDate},#{updateDate},#{author})
       </insert>
       <update id="updatepropeity" parameterType="com.example.dian_hshang.model.po.Propeity">
           update dian_propeity set name=#{name},nameCH=#{nameCH},typeId=#{typeId},type=#{type},isSKU=#{isSKU},isDel=#{isDel},updateDate=#{updateDate},author=#{author} where id=#{id}
       </update>

</mapper>
