<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC
        "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.dian_hshang.dao.UserDao">

    <insert id="addUser" parameterType="com.example.dian_hshang.model.po.User">
        insert into dian_user (name,realName,password,sex,phone,email,idCard,birthday,imgUrl,eduId,deptId,createDate,UpdateDate) value
        (#{name},#{realName},#{password},#{sex},#{phone},#{email},#{idCard},#{birthday},#{imgUrl},#{eduId},#{deptId},#{createDate},#{UpdateDate})
    </insert>

    <select id="queryUsername" parameterType="java.lang.String" resultType="com.example.dian_hshang.model.po.User">
        select * from dian_user where name=#{name}
    </select>



</mapper>
